<!doctype html>

<html>

<!-- fichier tableau.html -->

<head>

<meta charset="utf-8">

<title>Liste fromages</title>

<script type="text/javascript" src="DataTables/media/js/jquery.js"></script>

<script type="text/javascript" src="DataTables/media/js/jquery.dataTables.min.js"></script>

<script type="text/javascript" src="tableau.js"></script>

<link rel="stylesheet" type="text/css" href="DataTables/media/css/jquery.dataTables.min.css">

</head>
<body>
    <table id="tab" class="display">
        <caption>Fromages</caption>
        <thead> 
            <tr><th>Nom</th><th>Lait</th><th>Prix</th></tr> 
        </thead>
        <tbody> 
            <tr><td>Roquefort</td><td>brebis</td><td>4</td></tr>
            <tr><td>Morbier</td><td>vache</td><td>1</td></tr>
            <tr><td>Raclette</td><td>vache</td><td>3</td></tr>
            <tr><td>Atofort</td><td>brebis</td><td>4</td></tr>
            <tr><td>Lala</td><td>vache</td><td>1</td></tr>
            <tr><td>Loulou</td><td>vache</td><td>3</td></tr>
            <tr><td>Lilite</td><td>brebis</td><td>4</td></tr>
            <tr><td>Beaufort</td><td>vache</td><td>1</td></tr>
            <tr><td>Djama</td><td>vache</td><td>3</td></tr>
            <tr><td>Chill</td><td>brebis</td><td>4</td></tr>
            <tr><td>Pipo</td><td>vache</td><td>1</td></tr>
            <tr><td>Labelle</td><td>vache</td><td>3</td></tr>
            <tr><td>Roto</td><td>brebis</td><td>4</td></tr>
            <tr><td>Momo</td><td>vache</td><td>1</td></tr>
            <tr><td>Natou</td><td>vache</td><td>3</td></tr>
            ... 
            <tr><td>St Nectaire</td><td>vache</td><td>2</td></tr> 
        </tbody> 
    </table>
</body>
</html>