<!DOCTYPE html>

<html lang="">

<head>
    <title>AKS-T | ETRAB | modification</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="../../layout/styles/layout2.css" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="../../layout/styles/style2.css">

</head>

<body id="top">
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->

    <div class="wrapper row0">

        <div id="topbar" class="hoc clear">
            <!-- ################################################################################################ -->
            <div class="fl_left">
                <ul>
                    <li><i class="fa fa-phone"></i> +228 90 00 00 09</li>
                    <li><i class="fa fa-envelope-o"></i> akstransport@gmail.com</li>
                </ul>
            </div>
            <!-- <div class="fl_right">
        <ul>
          <li><a href="#"><i class="fa fa-lg fa-home"></i></a></li>
          <li><a href="#">Login</a></li>
          <li><a href="#">Register</a></li>
        </ul>
      </div> -->
            <!-- ################################################################################################ -->
        </div>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row1">
        <header id="header" class="hoc clear">
            <!-- ################################################################################################ -->
            <div id="logo" class="fl_left">
                <h1><a href="#">MODIFICATION ETRAB</a></h1>
                <!-- <img src="images/demo/logo1.png" alt=""> -->
            </div>

            <!-- ################################################################################################ -->
        </header>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="nav" id="menu">

        <div class="wrapper row2">
            <nav id="mainav" class="hoc clear">
                <!-- ################################################################################################ -->
                <ul class="clear">
                    <li class="active"><a href="../../index.html">ACCUEIL</a></li>
                    <!-- <li><a class="drop" href="#">NOS PARTENAIRES</a>
                        <ul>
                            <li><a href="pages/etrab.html">ETRAB</a>

                            </li>
                            <li><a href="pages/skv.html">SKV</a>

                            </li>
                            <li><a href="pages/etvt.html">ETVT</a>

                            </li>
                        </ul>
                    </li> -->
                    <!-- <li><a class="drop" href="#">Nos partenaires</a>
            <ul>
              <li><a href="pages/gallery.html">Gallery</a></li>
              <li><a href="pages/full-width.html">Full Width</a></li>
              <li><a href="pages/sidebar-left.html">Sidebar Left</a></li>
              <li><a href="pages/sidebar-right.html">Sidebar Right</a></li>
              <li><a href="pages/basic-grid.html">Basic Grid</a></li>
            </ul>
          </li> -->
        <li><a href="#">Contacter ETRAB</a></li>
        <li><a href="../etrab.html">Retour </a></li>
                    <!-- <li><a class="drop" href="#">VOYAGE</a>
                        <ul>

                            <li><a class="drop" href="#">BILLETS</a>
                                <ul>
                                    <li><a href="pages/doreserv.html">FAIRE UNE RESERVATION</a></li>
                                    <li><a href="pages/edreserv.html">MODIFIER UNE RESERVATION</a></li>
                                    <li><a href="pages/anreserv.html">ANNULER UNE RESERVATION</a></li>
                                </ul>
                            </li>
                            <li><a href="pages/itineraires.html">CONSULTER LES ITINERAIRES</a></li>

                        </ul>
                    </li>
                    <li><a href="#suggestion">SUGGESTIONS</a></li>
                    <li><a href="#about">A PROPOS DE NOUS</a></li>
                    <li><a href="#contact">CONTACTEZ-NOUS</a></li> -->
                </ul>
                <!-- ################################################################################################ -->
            </nav>
        </div>
    </div>

    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div id="suggestion" class="wrapper row3">
        <section class="hoc container clear">

            <h2>Modifiez votre billet ici</h2>
            <form action="#" method="post">
                <div class="one_half">
                    <label for="name">Nom <span>*</span></label>
                    <input type="text" name="name" id="name" value="" size="60" required>
                </div>
                <div class="one_half">
                    <label for="email">Prénom <span>*</span></label>
                    <input type="text" name="email" id="email" value="" size="60" required>
                </div>
                <div class="one_half">
                    <label for="email">Email <span>*</span></label>
                    <input type="email" name="email" id="email" value="" size="60" required>
                </div>
                <div class="one_half">
                    <label for="email">Téléphone <span>*</span></label>
                    <input type="text" name="email" id="email" value="" size="60" required>
                </div>
                <br>
                <hr>
                <div class="one_half">
                    <label for="email">Itinéraire <span>*</span></label>
                    <select name="itineraire" id="">
                        <option value="">Sélectionner l'itinéraire</option>
                        <option value="">Lomé-Tsévié</option>
                        <option value="">Lomé-Tabligbo</option>
                        <option value="">Lomé-Notsè</option>
                        <option value="">Lomé-Atakpamé</option>
                        <option value="">Lomé-Sokodé</option>
                        <option value="">Lomé-Blitta</option>
                        <option value="">Lomé-Kara</option>
                        <option value="">Lomé-Mango</option>
                        <option value="">Lomé-Dapaong</option>
                    </select>
                    
                </div>
                <!-- <div class="one_quarter">
                    <label for="email">Compagnie <span>*</span></label>
                    <select name="compagnie" id="">
                        <option value="">Sélectionner la compagnie</option>
                        <option value="">ETRAB</option>
                        <option value="">ETVT</option>
                        <option value="">SKV</option>
                    </select>
                </div> -->
                <div class="one_half">
                    <label for="email">Nombre de place à réservées <span>*</span></label>
                    <input type="number" name="nombre" id="email" value="" placeholder="" min="1" max="60" size="20" required>
                </div>
                <div class="one_half">
                    <label for="email">Code du billet <span>*</span></label>
                    <input type="text" name="email" id="email" value="" size="60" required>
                </div>
                
                <div class="one_half">
                    <div class="boutons">
                        <input class="btn1" type="submit" name="submit" value="Valider" size="20">
                        &nbsp;
                        <input class="btn1" type="reset" name="reset" value="Annuler" size="20">
                    </div>
                </div>

                
            </form>

            <!-- ################################################################################################ -->
        </section>
    </div>


    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row4">
        <footer id="footer" class="hoc clear">
            <!-- ################################################################################################ -->
            <div class="one_quarter first">
                <h6 class="heading">AKS-T</h6>
                <p>Organisez vos voyages sans stress ni dépenses inutiles.</p>
                <p>Rejoignez vos familles, lieu de travail, lieu de missions et autres en toute quiétude.</p>
            </div>
            <div id="contact" class="one_quarter">
                <h6 class="heading">Contact</h6>
                <nav>
                    <ul class="nospace">
                        <li><a href="index.html"><i class="fa fa-lg fa-home"></i></a></li>
                        <li><a href="#">akstransport@gmail.com</a></li>
                        <li><a href="#">+228 90 00 00 09</a></li>
                        <!-- <li><a href="#"></a></li>
            <li><a href="#"></a></li> -->
                    </ul>
                </nav>
                <ul class="faico clear">
                    <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <!-- <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li> -->
                    <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                    <!-- <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li> -->
                </ul>
            </div>
            <div class="one_quarter">
                <h6 class="heading">Notre Histoire</h6>
                <article>
                    <h2 class="nospace font-x1"><a href="#">Aks-t</a></h2>
                    <time class="font-xs" datetime="2022-11-20"> 20 Novembre 2022</time>
                    <p>AkS-T a démarré ses activités et s'applique chaque jour à vous offrir le meilleur de ses services
                        [&hellip;]</p>
                </article>
            </div>
            <div class="one_quarter">
                <h6 class="heading">NOS DOMAINES D'ACTIVITE</h6>
                <ul class="nospace linklist">
                    <li><a href="#">Economie numerique</a></li>
                    <li><a href="#">Messagerie</a></li>
                    <li><a href="#">Mise en relation</a></li>
                    <li><a href="#">Tourisme</a></li>
                </ul>
            </div>
            <!-- ################################################################################################ -->
        </footer>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row5">
        <div id="copyright" class="hoc clear">
            <!-- ################################################################################################ -->
            <p class="fl_left">Copyright &copy; 2022 - Tout Droit Réservé - <a href="#">www.akstransport.com</a></p>
            <!-- <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/"
          title="Free Website Templates">OS Templates</a></p> -->
            <!-- ################################################################################################ -->
        </div>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
    <!-- JAVASCRIPTS -->
    <script>
        $(window).scroll(function (event) {
            // A chaque fois que l'utilisateur va scroller (descendre la page)
            var y = $(this).scrollTop(); // On récupérer la valeur du scroll vertical

            //si cette valeur > à 200 on ajouter la class
            if (y >= 200) {
                $('.nav').addClass('fixed');
            } else {
                // sinon, on l'enlève
                $('.nav').removeClass('fixed');
            }
        });
    </script>
    <script src="layout/scripts/jquery.min.js"></script>
    <script src="layout/scripts/jquery.backtotop.js"></script>
    <script src="layout/scripts/jquery.mobilemenu.js"></script>
    <script src="layout/scripts/simpleParallax.js"></script>
</body>

</html>