<!DOCTYPE html>

<html lang="">

<head>
    <title>AKS-T | accueil</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="../layout/styles/layout2.css" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="../layout/styles/style2.css">

</head>

<body id="top">
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->

    <div class="wrapper row0">

        <div id="topbar" class="hoc clear">
            <!-- ################################################################################################ -->
            <div class="fl_left">
                <ul>
                    <li><i class="fa fa-phone"></i> +228 90 00 00 09</li>
                    <li><i class="fa fa-envelope-o"></i> akstransport@gmail.com</li>
                </ul>
            </div>
            <!-- <div class="fl_right">
        <ul>
          <li><a href="#"><i class="fa fa-lg fa-home"></i></a></li>
          <li><a href="#">Login</a></li>
          <li><a href="#">Register</a></li>
        </ul>
      </div> -->
            <!-- ################################################################################################ -->
        </div>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row1">
        <header id="header" class="hoc clear">
            <!-- ################################################################################################ -->
            <div id="logo" class="fl_left">
                <!-- <h1><a href="index.html">AKS-T</a></h1> -->
                <img src="../images/demo/logo1.png" alt="">
            </div>

            <!-- ################################################################################################ -->
        </header>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="nav" id="menu">

        <div class="wrapper row2">
            <nav id="mainav" class="hoc clear">
                <!-- ################################################################################################ -->
                <ul class="clear">
                    <li class="active"><a href="../index.html">ACCUEIL</a></li>
                    <li><a class="drop" href="#">NOS PARTENAIRES</a>
                        <ul>
                            <li><a href="etrab.html">ETRAB</a>

                            </li>
                            <li><a href="skv.html">SKV</a>

                            </li>
                            <li><a href="etvt.html">ETVT</a>

                            </li>
                        </ul>
                    </li>
                    <!-- <li><a class="drop" href="#">Nos partenaires</a>
            <ul>
              <li><a href="pages/gallery.html">Gallery</a></li>
              <li><a href="pages/full-width.html">Full Width</a></li>
              <li><a href="pages/sidebar-left.html">Sidebar Left</a></li>
              <li><a href="pages/sidebar-right.html">Sidebar Right</a></li>
              <li><a href="pages/basic-grid.html">Basic Grid</a></li>
            </ul>
          </li> -->
                    <li><a class="drop" href="#">VOYAGE</a>
                        <ul>

                            <li><a class="drop" href="#">BILLETS</a>
                                <ul>
                                    <li><a href="doreserv.html">FAIRE UNE RESERVATION</a></li>
                                    <li><a href="edreserv.html">MODIFIER UNE RESERVATION</a></li>
                                    <li><a href="anreserv.html">ANNULER UNE RESERVATION</a></li>
                                </ul>
                            </li>
                            <li><a href="pages/itineraires.html">CONSULTER LES ITINERAIRES</a></li>

                        </ul>
                    </li>
                    <li><a href="#suggestion">SUGGESTIONS</a></li>
                    <li><a href="#about">A PROPOS DE NOUS</a></li>
                    <li><a href="#contact">CONTACTEZ-NOUS</a></li>
                </ul>
                <!-- ################################################################################################ -->
            </nav>
        </div>
    </div>

    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper parallax bgded overlay" style="background-image:url('../images/demo/backgrounds/banner.webp');">
        <article id="pageintro" class="hoc clear">
            <!-- ################################################################################################ -->
            <h3 class="heading">VOYAGEZ PLUS FACILEMENT</h3>
            <h6 style="text-align: center;">Une plateforme qui vous fait gagner en temps pour vos déplacements.</h6>
            <!-- <footer><a class="btn" href="#">Tellus et egestas</a></footer> -->
            <!-- ################################################################################################ -->
        </article>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <h1>Les Itinéraires</h1>
    <div class="scrollable">
        <table>
            <thead>
                <tr>
                    <th>Itinéraire</th>
                    <th>Distance</th>
                    <th>Tarif</th>
                    <!-- <th>Header 4</th> -->
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#">Lomé-Tsévié</a></td>
                    <td><a href="">34.8 Km</a></td>
                    <td> 
                    <td>ETRAB</td>
                    <td>2000 f cfa</td>
                    </td>
                </tr>
                <tr>
                    <td>Value 5</td>
                    <td>Value 6</td>
                    <td>Value 7</td>
                    <td><a href="#">Value 8</a></td>
                </tr>
                <tr>
                    <td>Value 9</td>
                    <td>Value 10</td>
                    <td>Value 11</td>
                    <td>Value 12</td>
                </tr>
                <tr>
                    <td>Value 13</td>
                    <td><a href="#">Value 14</a></td>
                    <td>Value 15</td>
                    <td>Value 16</td>
                </tr>
            </tbody>
        </table>
        <!-- ################################################################################################ -->
        <div class="clear"></div>
        </section>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div id="suggestion" class="wrapper row3">
        <section class="hoc container clear">

            <h2>Faites vos suggestions ici</h2>
            <form action="#" method="post">
                <div class="one_third first">
                    <label for="name">Nom <span>*</span></label>
                    <input type="text" name="name" id="name" value="" size="22" required>
                </div>
                <div class="one_third">
                    <label for="email">Email <span>*</span></label>
                    <input type="email" name="email" id="email" value="" size="22" required>
                </div>
                <div class="one_third">
                    <!-- <label for="url">Website</label>
          <input type="url" name="url" id="url" value="" size="22"> -->
                    <label for="comment">Vos suggestions</label>
                    <textarea name="comment" id="comment" cols="25" rows="10"></textarea>
                </div>

                <div class="boutons">
                    <input class="btn1" type="submit" name="submit" value="Soumettre">
                    &nbsp;
                    <input class="btn1" type="reset" name="reset" value="Annuler">
                </div>
            </form>

            <!-- ################################################################################################ -->
        </section>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->


    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->

    <div id="about" class="wrapper parallax bgded overlay"
        style="background-image:url('../images/demo/backgrounds/banner2.webp');">
        <section class="hoc container clear">
            <!-- ################################################################################################ -->
            <div class="sectiontitle">
                <h6 class="heading">A PROPOS DE NOUS</h6>
            </div>
            <div class="group">
                <div class="one_half first">
                    <!-- <p><strong>Non imperdiet mi praesent lectus</strong></p> -->
                    <p style="font-size: 1.5em;">La plateforme AKS-T est un moyen mis en place pour permettre à toute
                        personne
                        désireuse de réserver, modifier, annuler un billet de voyage tout en ayant une possibilité de
                        choix de la
                        compagnie à bord de laquelle elle désire voyager; à une compagnie de voyage de pouvoir augmenter
                        son chiffre
                        d'affaire en adoptant un système de vente de billet électronique

                        Les avantages de cette plateforme sont multiples et l'on peut citer entre autre la possibilité
                        au voyageur
                        de gagner en temps et en déplacement dans ses démarches pour la réservation d'un billet de
                        voyage.</p>
                    <!-- <p class="btmspace-30">Sed dictum blandit rutrum donec venenatis tincidunt sollicitudin quisque quis diam sit
            amet metus pharetra [&hellip;]</p>
          <footer><a class="btn" href="#">Read More &raquo;</a></footer> -->
                </div>
                <div class="one_half">
                    <!-- <p><strong>Fusce porta enim id pharetra gravida</strong></p> -->
                    <a href="#"><img src="images/demo/LOGO.jpg" alt=""></a>
                    <!-- <p>Commodo donec iaculis dolor sed lobortis fermentum.</p> -->
                </div>
            </div>
            <!-- ################################################################################################ -->
        </section>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row3">
        <div class="gmap">
            <div>
                <h6>NOTRE LOCALISATION</h6>
            </div>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13342.825317186114!2d1.2430187967881225!3d6.151413718451783!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2stg!4v1670623921432!5m2!1sfr!2stg"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <!-- <figure class="hoc clear"> -->
        <!-- ################################################################################################ -->
        <!-- <ul class="nospace group logos">
        <li class="one_quarter first"><a href="#"><img src="images/demo/222x100.png" alt=""></a></li>
        <li class="one_quarter"><a href="#"><img src="images/demo/222x100.png" alt=""></a></li>
        <li class="one_quarter"><a href="#"><img src="images/demo/222x100.png" alt=""></a></li>
        <li class="one_quarter"><a href="#"><img src="images/demo/222x100.png" alt=""></a></li>
      </ul> -->
        <!-- ################################################################################################ -->
        <!-- </figure> -->
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row4">
        <footer id="footer" class="hoc clear">
            <!-- ################################################################################################ -->
            <div class="one_quarter first">
                <h6 class="heading">AKS-T</h6>
                <p>Organisez vos voyages sans stress ni dépenses inutiles.</p>
                <p>Rejoignez vos familles, lieu de travail, lieu de missions et autres en toute quiétude.</p>
            </div>
            <div id="contact" class="one_quarter">
                <h6 class="heading">Contact</h6>
                <nav>
                    <ul class="nospace">
                        <li><a href="index.html"><i class="fa fa-lg fa-home"></i></a></li>
                        <li><a href="#">akstransport@gmail.com</a></li>
                        <li><a href="#">+228 90 00 00 09</a></li>
                        <!-- <li><a href="#"></a></li>
            <li><a href="#"></a></li> -->
                    </ul>
                </nav>
                <ul class="faico clear">
                    <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <!-- <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li> -->
                    <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                    <!-- <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li> -->
                </ul>
            </div>
            <div class="one_quarter">
                <h6 class="heading">Notre Histoire</h6>
                <article>
                    <h2 class="nospace font-x1"><a href="#">Aks-t</a></h2>
                    <time class="font-xs" datetime="2022-11-20"> 20 Novembre 2022</time>
                    <p>AkS-T a démarré ses activités et s'applique chaque jour à vous offrir le meilleur de ses services
                        [&hellip;]</p>
                </article>
            </div>
            <div class="one_quarter">
                <h6 class="heading">NOS DOMAINES D'ACTIVITE</h6>
                <ul class="nospace linklist">
                    <li><a href="#">Economie numerique</a></li>
                    <li><a href="#">Messagerie</a></li>
                    <li><a href="#">Mise en relation</a></li>
                    <li><a href="#">Tourisme</a></li>
                </ul>
            </div>
            <!-- ################################################################################################ -->
        </footer>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row5">
        <div id="copyright" class="hoc clear">
            <!-- ################################################################################################ -->
            <p class="fl_left">Copyright &copy; 2022 - Tout Droit Réservé - <a href="#">www.akstransport.com</a></p>
            <!-- <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/"
          title="Free Website Templates">OS Templates</a></p> -->
            <!-- ################################################################################################ -->
        </div>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
    <!-- JAVASCRIPTS -->
    <script>
        $(window).scroll(function (event) {
            // A chaque fois que l'utilisateur va scroller (descendre la page)
            var y = $(this).scrollTop(); // On récupérer la valeur du scroll vertical

            //si cette valeur > à 200 on ajouter la class
            if (y >= 200) {
                $('.nav').addClass('fixed');
            } else {
                // sinon, on l'enlève
                $('.nav').removeClass('fixed');
            }
        });
    </script>
    <script src="layout/scripts/jquery.min.js"></script>
    <script src="layout/scripts/jquery.backtotop.js"></script>
    <script src="layout/scripts/jquery.mobilemenu.js"></script>
    <script src="layout/scripts/simpleParallax.js"></script>
</body>

</html>






<a href="http://fr.distances-routieres.himmera.com">Calculateur de distance</a>